/*Theme 5 = Morsus Mihi*/
.txtcenter {
  text-align:center;
}

.txtleft {
  text-align:left;
}

.txtright {
  text-align:right;
}

.mcenter {
  margin-left:auto;
  margin-right:auto;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: #db0102;
  text-decoration: underline;
}

.link { /*links in footer, tracker*/
  color: #db0102;
  text-decoration: underline;
}

.mcolor { /*main color*/
  color: #dbdbdb;
}

.mbground { /*main background color*/
  background-color:#860e0f;
}

.hcolor { /*header color*/
  color: #dbdbdb;
}

.billheader {
  padding:5px;
  border:1px #686060 solid;
  border-collapse:collapse;
  text-decoration: none;
}

.billcontent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-decoration: none;
  border:1px #686060 solid;
  border-collapse:collapse;
  text-align:right;
  padding:5px;
}

.tracktable {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: normal;
  font-size-adjust: none;
  font-stretch: normal;
  /*border:1px white solid;*/
  padding:5px;
  /*width:100%;*/
}

.tracktable td, .tracktable th {
  border:1px #686060 solid;
  border-collapse:collapse;
  padding:5px;

}

body {
  color:#e2e2e2;
  background-color:#000000;
  font: Arial, sans-serif;
  text-align:center;
}

img {
  border:0;
}

table {
  empty-cells: show
}

.collapse {
  border-collapse:collapse;
}

.auser:hover {
   background-color: #352b2c;
}