/*Theme 3 = Majesta Empire*/
.txtcenter {
  text-align:center;
}

.txtleft {
  text-align:left;
}

.txtright {
  text-align:right;
}

.mcenter {
  margin-left:auto;
  margin-right:auto;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: #4f7045;
  text-decoration: underline;
}

.link { /*links in footer, tracker*/
  color: #d47100;
  text-decoration: underline;
}

a.sort { /*sort links on track*/
  color: #d5e9ae;
  text-decoration: underline;
}

.mcolor { /*main color*/
  color: #d5e9ae;
}

.mbground { /*main background color*/
  background-color:#4f7045;
}

.hcolor { /*header color*/
  color: #d5e9ae;
}

.billheader {
  padding:5px;
  border:1px #73796e solid;
  border-collapse:collapse;
  text-decoration: none;
}

.billcontent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-decoration: none;
  border:1px #73796e solid;
  border-collapse:collapse;
  text-align:right;
  padding:5px;
}

.tracktable {
  font-family: Arial,sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: normal;
  font-size-adjust: none;
  font-stretch: normal;
  /*border:1px white solid;*/
  padding:5px;
  /*width:100%;*/
}

.tracktable td, .tracktable th {
  border:1px #73796e solid;
  border-collapse:collapse;
  padding:5px;

}

body {
  color:#cfdac7;
  background-color:#1f1005;
  text-align:center;
}

img {
  border:0;
}

table {
  empty-cells: show
}

.collapse {
  border-collapse:collapse;
}

.auser:hover {
   background-color: #542a11;
}

body#header {
	margin:0px auto;
	background:transparent url(../images/nav_bg3.png) 0px 0px repeat-x;
	background-color:#0e0000;
	border-bottom:1px solid #0e0000;
	height:31px;
}

#navi {
	margin:0px auto;
	font-size: 0px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	width: auto;
	border-bottom:1px solid #0e0000;
	border-top:1px solid #0e0000;
}

.navib {
	font-size: 12px;
	width: auto;
	height: 31px;
	display: inline-block;
}

div#navi div a
{
	display:block;
	width: auto;
	color:#999999;
	text-decoration:none;
	font-weight:bold;
	padding:8px 8px 0 8px;
}
	
div#navi div a:hover, div a.current {	
	color:#FFFFFF;
	height: 22px;
	background:transparent url(../images/nav_bt3.png) 0px -1px no-repeat;		
}

/*production CSS*/
.pU24 {
	border:1px #FFFF33 solid !important;
}

.pEmpty {
	border:1px #EE0000 solid !important;
}

.pFine {
    border:1px #73796E solid !important;
}